.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #104da1;
  width: 100%;
  height: 66px;
  align-items: center; 
  color: #E4EDFD;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;


}

.nav-logo {
  width: 90px;
  height: auto;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 10px;
}
.left-nav, .right-nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}
.left-nav{
  justify-self: flex-start;
  justify-content: flex-start;
}
.right-nav{
  justify-self: flex-end;
  justify-content: flex-end;
}
.link-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 16px;
  text-transform: capitalize;
}
.link-container:hover {
  background-color: #104da1;
  filter: brightness(90%)
}
.link-container span {
  padding-left: 10px;
}


.nav-profile {
  height: 66px;
  width: 245px;
}
.nav-profile-img {
  width: 38px;
  border-radius: 30px;
}
.nav-git, .nav-linkedin {
  width: 149px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}
.nav-git:hover {
  background-color: #FF597E;
  filter: brightness(110%);
}
.nav-linkedin:hover {
  background-color: #4FC5D0;
  filter: brightness(110%);
}
.nav-git {
  background-color: #FF597E;
}
.nav-linkedin {
  background-color: #4FC5D0;
}