@media only screen and (min-width: 768px) {
  .splash {
  display: flex;
  flex-direction: column;
  
}
/* #root {

} */

.splash-content {
  min-height: 768px;
  width: 100%;
  background-color: #24d7f2;
}

.splash-header-container{
  display:flex;
  justify-content: center;

}

.splash-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 97px;
  width: 944px;
  margin: 0px 65px;
}


.splash-signin {
  border: solid 1px black;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  margin-left: 20px;
  height: 36px;
  padding: 0 14px;
}

.splash-signup {
  border: solid 1px black;
  background-color: black;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 3px;
  height: 62px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}
.splash-text {
  display: flex;
  flex-direction: column;
  width: 944px;
  margin-bottom: 20px;
}

.splash-text h3 {
  font-size: 50px;  
}

.splash-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greet-text {
  width: 460px;
  font-size: 20px;
}
.splash-signup-container, .splash-tos-container {
  width: 944px;
}
.splash-header-sub{
height: 20px
}

.splash-footer {
  display: flex;
  justify-content: center;
}

/* * {
  border: 1px solid black !important;
} */
}


/* #24d7f2 */
/* #24d7f2 */
/* #f0a1c1; */
/* #21bd66 */
/* 21c3fd */