
  .splash {
  display: flex;
  flex-direction: column;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


.splash-content {
  min-height: 768px;
  overflow: hidden;
}

.splash-header-container{
  display:flex;
  justify-content: center;

}

.splash-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  height: 97px;
  width: 944px;
}


.splash-signin {
  border: solid 1px black;
  padding: 0px 14px 0px 14px;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 20px;
  height: 36px;
  padding: 10px 14px;
  font-weight: 500;
}
.splash-header-span{
  font-size: 14px;
}

.splash-signup {
  border: solid 1px black;
  background-color: black;
  color: white;
  width: 284px;
  border-radius: 3px;
  height: 62px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.1px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}
.splash-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}



.splash-text h3 {
  font-size: 60px;  
  font-weight: 900;
  text-shadow: 
    -1px 0 #000000, 
     0 1px #000000, 
     1px 0 #000000, 
    0 -1px #000000,
  -1px 2px #000000, 
  -2px 1px #000000, 
  -2px 3px #000000, 
  -3px 2px #000000, 
  -3px 4px #000000, 
  -4px 3px #000000, 
  -4px 5px #000000, 
  -5px 4px #000000, 
  -5px 6px #000000, 
  -6px 5px #000000, 
  -6px 7px #000000, 
  -7px 6px #000000, 
  -7px 8px #000000, 
  -8px 7px #000000;
  color: #FFFFFF;
  /* font-family: impact; */


}

.splash-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.splash-top-text {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greet-text {
  width: 460px;
  height: 200px;
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
}
.splash-signup-container, .splash-tos-container {
  width: 100%;
}
.splash-tos-container  {
    margin: 0 0 20px 0;
    font-size: 12px;
}
.tos {
  width: 284px;
  text-overflow: clip
}
.splash-header-sub{
height: 20px;
}

.splash-footer {
  display: flex;
  justify-content: center;
}

.color1 {
  background-color: #f0a1c1; 
  transition: 0.5s;
}

.color2 {
  background-color: #24d7f2;
  transition: 0.5s;
}

.color3 {
  background-color: #21bd66;
  transition: 0.5s;
}

.color4 {
  background-color: #21c3fd;
  transition: 0.5s;
  
}
.splash-image-holder{
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 510px;
  width: 484px;
  position: relative;
  overflow: hidden;
}
.splash-dog{
  transition: 0.5s;
  position: absolute;
}
.hidden {
  opacity: 0;
}



/* * {
  border: 1px solid black !important;
} */

