.user-search{
  top: 0;
  left: 0;
  right: 0;
  background-color: #104da1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .search-info {
    display: flex;
    flex-direction: row;
    color: white;
    .selectable {
      position: relative;
      margin: 0 5px;
      border-bottom: 1px dashed white;
    }
    .selectable:hover {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
    .searchModal{
      
      position: absolute;
      // left: 50%;
      top: 40px;

 
      border: none;
      border-radius: 3px;
      background-color: #f3f5f9;
      transition-property: visibility, opacity;
      transition-duration: 0ms, 0.2s;
      transition-timing-function: linear, ease;
      transition-delay: 0s, 10ms;
      padding: 14px 20px;
      box-shadow: 0 0 0 1px rgba(0,17,53,.16), 0 0 5px 0 rgba(0,17,53,.16);
      .tail {
        margin: 0 0 0 -7px;
        transform:  rotate(45deg);
        height: 14px;
        width: 14px;
        position: absolute;
        top: -7px;
        border-top-width: 1px;
        border-left-width: 1px;
        left: 35px;
        background: #f3f5f9;
      }
      .title {
        font-weight: 500;
          display: block;
          font-size: 1.17em;

          line-height: 17px;
          color: #2a2f35;
      }
      .GENDER_PREFS {
        padding: 10px;
        width: 444px;
        height: 80px;
        display: flex;
        flex-direction: column;

        .choices {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          label {
            color: #949aa6;
            font-size: 15px;
            font-weight: none;
        }
        }
        
      }
      .AGE_RANGE_PREFS{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row{
          padding-top: 10px;
          display: flex; 
          flex-direction: row;
        }
      }
      .DISTANCE_PREFS{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap;
        .filter-slider-tick{
          background-color: red;
          width: 10px;
        }
      }
    }
    
  }
  .resultsContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f3f5f9;
    .search-results{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 760px;
      background-color: #f3f5f9;
    }
    .user-card-container {
      margin: 5px;
    }
  }
  
  // .search-results:nth-child(3n) {
  //   flex-basis: 100%;
  // }
}

.search-info {
  top: 0;
  left: 0;
  right: 0;
  height: 169px;
  background-color: #104da1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
}
// * {
//   border: 1px solid black !important;
// }