.user-details-container {
  width: 336px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: -8px -8px 10px 8px;
}
.details-container {
  display: flex;
  flex-direction: column;
  width: 252px;
}
.icon-container {
  width: 36px; 
}
.main-profile-details, .bonus-details {
  display: flex;
  flex-direction: row;
  
}
.main-detail, .bonus-detail {
  padding-right: 10px;
}