.user-card-container {
  height: 276px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; 
  margin: 0 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border-radius: 4px;
  align-items: center;
  background-color: white;

}

.user-photo-container{
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-card-photo {
  height: 220px;
}
.user-info {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 900px;
  text-align: center;
}
.location-text {
  color: #56585c;
  line-height: 18px;
  font-size: 14px;
}
.match-percentage {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 900;
  height: 26px;
  text-align: center;
  border-radius: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 41px;
}
.blue-match {
  color: #3260c7;
  border: 1px solid #3260c7;
}
.green-match {
  color: #fff;
  background-color: #00d280;
  border: 1px solid #00d280;
}
.user-snapshot-text {
  padding: 10px;
  color: #949aa6;
  font-size: 15px;
  text-align: center;
}

.user-disc-title {
  font-size: 20px;
  
}

