.user-discovery {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 384px;

}
.user-discovery-content {
  width: 910px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
}
.user-disc-title {
  height: 60px;
  width: 100%;
}
.user-slider-outer {
  display: flex;
  flex-direction: row;
  width: 910px;
}
.slider-container{
  width: 910px;
  overflow: hidden;
  border-radius: 4px;
}
.user-slider-inner {
  width: 3790px;
  display: flex;
  align-items: center;
  flex-direction: row; 
  transition: transform 0.25s ease;
}

.slide0 {
  transform: translateX(0);
}

.slide1 {
  transform: translateX(-760px);
}

.slide2 {
  transform: translateX(-1520px);
}

.slide3 {
  transform: translateX(-2280px);
}

.slide4 {
  transform: translateX(-3040px);
}


.user-discovery-content-row {
  height: 328px;
  width: 910px;
  display: flex;
  justify-content: flex-start;
  

}

.browse-btn {
  position: absolute;
  z-index: 2;
  border-radius: 40px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-style: none;
  box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
.browse-left{
  left: -20px;
  top: 170px;
}
.browse-right {
  right: -20px;
  top: 170px;
}
.browse-btn-hide {
  display: none;
}

.browse-fade-border {
  position: absolute;
  right: 0;
  top: -5%;
  width: 30px;
  height: 100%;
}
.fade {
  background-image: linear-gradient(90deg,rgba(243,245,249,0),#f3f5f9);
}

/* * {
  border: 1px solid black !important;
} */