.user-search{
  top: 0;
  left: 0;
  right: 0;
  height: 266px;
  background-color: #104da1;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.search-info {
  top: 0;
  left: 0;
  right: 0;
  height: 169px;
  background-color: #104da1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 60px;
}