.user-discovery {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 434px;
}
.user-discovery-content {
  width: 910px;
  display: flex;
  flex-direction: column;
}
.user-disc-title {
  height: 60px;
  width: 100%;
}
.user-discovery-content-row {
  height: 328px;
  width: 100%;
}
/* * {
  border: 1px solid black !important;
} */